<h3>Perlでコーポレートサイト作ろ</h3>

Perlでコーポレートサイトを作成したい場合も「Perlで個人サイト作ろ」で紹介している手順で作成することができます。会社のサイトを簡単に作りたい、簡単に管理したい場合に便利です。

<blockquote>
<a href="/">Perlで個人サイト作ろ</a>
</blockquote>

Perlで個人サイト作ろでは、静的なHTML構成ツールを使ったブログとWebサイトの作成の仕方を基礎から丁寧に解説しています。

コーポレートサイトでは、商品やサービスの紹介・会社概要・社員のプロフィール・お問い合わせフォーム・アクセスなどを作成しますね。

<ul>
  <li>商品やサービスの紹介</li>
  <li>会社概要</li>
  <li>社長あいさつ</li>
  <li>社員のプロフィール</li>
  <li>お問い合わせフォーム</li>
  <li>アクセス</li>
  <li>トップページ</li>
  <li>ロゴ作成</li>
  <li>ヘッダ・フッタの共通化</li>
  <li>メニューバーの作成</li>
  <li>コンテンツの追加</li>
  <li>JavaScriptが使える</li>
</ul>


コーポレートサイトで必要になるページのサンプルも今後紹介する予定です。
