<h2>ブログの記事を追加しよ</h2>

ブログの記事を追加してみましょう。ブログで、新しい記事を書きたいときは、次のコマンドを実行します。

ホームディレクトリに「mysite」という名前で、サイトが作成されていると想定して解説します。

まずcdコマンドを使って、サイトのディレクトリに移動します。

<pre>
cd ~/mysite
</pre>

ディレクトリに移動したら「giblog add」コマンドを使って、ブログの記事を追加します。

<pre>
giblog add
</pre>

すると、次のようなメッセージが表示されます。

<pre>
Create templates/blog/20190423082921.html
</pre>

今日の年月日と時刻が入ったHTMLファイルが作成されます。

このファイルは空なので、テキストエディタで開いて、編集します。

記事のタイトルと簡単な記事を書いてみましょう。

<pre>
<h2>今日はみかんを食べたぞ</h2>

今日食べたみかんは、とても甘くおいしかった。

みっつも食べてしまった。

</pre>

タイトルは「h2」タグの中に書きます。本文は上のように、段落ごとに記述しましょう。

注意点として、先頭に半角空白を入れないようにしましょう。

先頭に半角空白を入れると、自動改行機能が無効になってしまうためです。

記事を追加したら、次のコマンドでサイトを立ち上げて、確認してみましょう。

もし文字化けを起こしてしまう場合は、ファイルの保存の文字コードがUTF-8になっていることを確認しましょう。

<pre>
morbo serve.pl
</pre>
