<h2>Github Pagesを使って完全無料でサイト公開</h2

Giblogでは、Gibhub Pagesを使って完全無料で、あなただけのサイトを公開できます。Giblogで作成したWebサイトを、Githubを使って無料で簡単に公開する方法があります。

<h3>Github Pagesを使って完全無料でサイト公開</h3>

Github Pagesを使って、サイトを公開してみましょう。

Github Pagesの特徴です。

<ul>
  <li>静的サイト (HTML、CSS、画像、JavaScript)を公開できます。</li>
  <li>URLは https://ユーザ名.github.io</li>
  <li>独自ドメインを指定可能</li>
  <li>サイトの容量は1GBまで。リクエストは、1か月あたり100GBまたは100,000まで。</li>
</ul>

Github Pagesを、作るのは簡単です。Giblogで作成した公開リポジトリを、以下のリポジトリを作成してpushするだけです。

<pre>
ユーザ名.github.io
</pre>

後で、独自ドメインを指定することもできますよ! SSLにも対応しているので「https」のサイトで運用できます。

もしあなたのGithubのユーザーIDが「yuki-kimoto」であれば

<pre>
yuki-kimoto.github.io
</pre>

というレポジトリを、Githubで作成してください。

そして、このリポジトリを、公開ファイルのgitレポジトリとして指定します。

<pre>
cd mysite
cd public
git remote add origin git@github.com:yuki-kimoto/yuki-kimoto.github.io.git
</pre>

すでに他の場所を指定している場合は、いったん削除しましょう。

<pre>
git remote remove origin
</pre>

あとは、普段と同じようにpushするだけです。

<pre>
git push origin master
</pre>

<h3>Github Pagesの公開URL</h3>

pushしたらサイトを確認してみましょう。

上記の例の場合は、以下のURLでアクセスできます。

<blockquote>
<a href="https://yuki-kimoto.github.io">https://yuki-kimoto.github.io</a>
</blockquote>

ページが表示されましたか?

もしページが404になってしまう場合は、Githubがindex.htmlを、トップページと認識していないのかもしれません。

そういう場合は、index.htmlに空白などの意味のない文字列などを足して、コミットして、再度pushしてみてください。

<h3>複数のGithub Pagesを持つにはどうすればよいですか</h3>

ユーザーIDに対して、Github Pagesは一つ提供されますので、複数のGithub Pagesを持ちたい場合は、複数のユーザーIDが必要になります。

<h3>GitとGithubの使い方がわかりません</h3>

近いうちに、GitとGithubの使い方を解説したページも作成予定です。

GitとGithubについては、すでに解説されたサイトがたくさんあるので、それを検索してみるのもよいでしょう。
