<h2>Giblogの強固なセキュリティ</h2>

Gitblogな強固なセキュリティを持っています。Giblogは、Webサイトを静的なHTMLとして生成します。

<h3>静的サイトによる強固なセキュリティ</h3>

つまり、動的なWebサイト作成ツールで起こりうるツール自体の脆弱性や、プラグインの脆弱性が起こることはありません。

Giblogは、まず開発環境で、Webサイトを作成してから、それをプロダクション環境にgitを使って、デプロイするという方法を採用しています。

Webページを生成するときに、プログラムが動くというわけではなく、あらかじめHTMLファイルを作って、それをコピーするので、レンタルサーバーのApacheなどのWebサーバーがHTMLファイルを配信してくれます。

つまり、静的ファイル配信についての、脆弱性対策については、レンタルサーバー側が、責任を持ってくれます。

<h3>お問合せフォームなどのPHPやCGIを設置した場合はどうなりますか</h3>

お問合せフォームなどのPHPやCGIをレンタルサーバーに設置した場合は、PHPやCGIを利用しているページで、セキュリティリスクが発生します。

設置するPHPやCGIは、Giblog自体の機能ではありませんので、PHPやCGIにおいて発生しうるセキュリティリスクが発生します。

これは、Webサイトで、動的なプログラムを実行する場合に発生する、通常のセキュリティリスクです。

Webサイトを完全に静的なものにして<a href="https://www.google.com/intl/ja_jp/forms/about/">googleフォーム</a>などのフォームサービスを利用する、より安全な方法もあります。

セキュリティリスクを受け入れて、自分のサイトで完全に完結したい場合は、PHPやCGIのお問合せフォームの利用を。googleフォームなどのフォームサービスなどの利用を受け入れて、セキュリティリスクを減らしたい場合は、Webサイトを完全に静的なものにして、セキュリティを強固にすることができます。
