<h2>Giblogで困ったときはフォーラムに参加しよう</h2>

Giblogで、使い方や公開方法がわからないときは、フォーラムに参加してみましょう。

Giblogの使い方で困ったときに、Giblogのユーザーどうしで、サポートする<a href="https://giblog.slack.com">Giblogフォーラム</a>を用意しています。

Giblogフォーラムは、<a href="https://slack.com/intl/ja-jp/">Slack</a>と呼ばれるコミュニケーションツールで運用されています。

<blockquote>
  <a href="https://giblog.slack.com">Giblogフォーラム - Slack</a>
</blockquote>

<h3>Giblogフォーラムに参加する</h3>

Giblogフォーラムに参加するには<a href="https://giblog.slack.com">Giblogフォーラム</a>にアクセスして、メールアドレスを送信してください。

Giblogフォーラムの管理者から、承認メールが届きます。承認メールが届いたら、Giblogフォーラムへのリンクをクリックしてフォーラムに参加してみましょう。

<h3>Giblogフォーラムでは何を質問できるの</h3>

Giblogフォーラムでは、現在以下のチャンネルを準備しています。チャンネルというのは、テーマのことですね。目的に応じたチャンネルで、質問をしてみてください。もしわからなければ「雑談部屋」というところで、質問をしてみてください。「この質問はどこに書き込んだらいいですか」(例)

<h4>雑残部屋</h4>

Giblogフォーラムのメンバーが、自由に書き込むことができるチャンネルです。

<h4>インストール</h4>

Giblogのインストールに関して、わからないことがあれば、ここで質問できます。

Giblogは<a href="/blog/20190826074335.html">Windows,Linux,Mac OSをサポート</a>しています。PerlのインストールやGiblogのインストールが、できないときは、ここで質問してみましょう。

<h4>gitの使い方</h4>

Giblogは<a href="/blog/20190809083515.html">Gitですべてのページを管理</a>できますが、これについてGitの使い方がわからない場合は、ここで質問してください。

gitの前提としてLinuxの使い方をある程度しる必要もありますが、それについての質問もここでOKです。

<h4>デザインテーマ</h4>

HTMLやCSSなどのデザインテーマに関する質問はここでできます。サイトのデザインを変更してみたいけど、やり方がわからないという場合は、ここで質問しましょう。

<a href="/blog/20190819080050.html">スマートフォン対応</a>でわからないことがある、<a href="/blog/20190816080249.html">SEO対策</a>はどうしたらいいなどの質問もOKです。

<h4>カスタイズ</h4>

Giblogを<a href="/blog/20190827080034.html">自分のサイト専用にカスタマイズ</a>したい場合は、ここで質問できます。

Twitterカードを、設定してみたいとか、マークダウンで書くにはどうしたらよいですかなど、Giblogのカスタマイズに関する質問ができます。

カスタマイズに必要な<a href="https://tutorial.perlzemi.com/">Perl</a>自体の質問もここで、行うことができます。

<a href="/blog/20190820075913.html">お問い合わせフォーム</a>を作成してみたいという質問も、こちらでOK。

<h4>サイトの公開</h4>

Gitblogでは、無料でできる簡単なサイトの公開方法として<a href="/blog/20190828064434.html">Gihub Pages</a>を使う方法を解説しています。

レンタルサーバーでGiblogのWebサイトを公開する方法、ドメインを取得する方法、SSLを設定する方法など、サイトの公開に関する質問はここでできます。

<h4>サイトの宣伝</h4>

Giblogで作成したサイトは、ここでフォーラムのメンバーに知ってもらうことができます。自分のサイトを知ってもらいたいという場合は、ここにサイトの簡単な説明を書いて、宣伝してみてください。

公序良俗に反するサイト、暴力的なサイト、性的なサイトは、書き込み禁止です。

<h4>バグ報告</h4>

Giblog自体のバグ報告をここでできます。

<h4>開発者</h4>

開発者用のチャンネルです。

<h3>Giblogフォーラムに参加する</h3>

Giblogフォーラムへの参加をお待ちしております。参加はどなたでもできます。登録は、メールアドレスを送信するだけです。あなたが作るWebサイト、完成させてみませんか?

<blockquote>
  <a href="https://giblog.slack.com">Giblogフォーラムに参加する</a>
</blockquote>
