<h2>jQueryなどのJavaScriptライブラリを使おう</h2>

jQueryやなどのJavaScriptライブラリを配置して使ってみましょう。

「Perlで個人サイト作ろ」で作成する静的なCMSでは、JavaScriptが使えます。

ここでは、例としてjQueryを使ってみましょう。

jQueryを、ダウンロードしてきて、配置して利用するという方法をとります。

<blockquote>
<a href="https://jquery.com/download/">jQuery公式サイト - ダウンロード</a>
</blockquote>

サイトの上の方にある以下の部分に注目。

<pre>
Download the compressed, production jQuery 3.4.1
</pre>

2019年5月8日のバージョンは、3.4.1です。

このリンクを右クリックして、名前を付けてリンク先を保存してください。

名前は「jquery-3.4.1.min.js」のようにしてください。

JavaScriptを使うと、サイトで動きのある表現を使えるようになります。

<h3>JavaScriptライブラリを配置しよ</h3>

最初に、JavaScriptライブラリを配置する必要があります。

保存した名前が「jquery-3.4.1.min.js」だとして、以下のディレクトリの中に配置しましょう。

<pre>
templates/static/js
</pre>

<h3>JavaScriptライブラリを読み込もう</h3>

次にJavaScriptライブラリを読み込む必要があります。JavaScriptライブラリは、使う前に、読み込むことが必要です。

HTMLのheadセクションで読み込むのが推奨です。以下のファイルの中に記述しましょう。

<pre>
templates/common/meta.html
</pre>

ファイルを開いて、次の一行を書き込みます。

<pre>
<script src="/js/jquery-3.4.1.min.js"></script>
</pre>

JavaScriptはscriptタグで読み込むことができ、パスをsrc属性に記述します。

<h3>jQueryで「こんにちは」</h3>

次に、実際にjQueryを使ってみましょう。

ブログの記事やindex.htmlなど、好きなコンテンツを開いてみてください。

この中の一番上に、次のように記述しましょう。

<pre>
<script>
  $(function() {
    alert('こんにちは');
  });
</script>
</pre>

これはjQueryの文法で書かれています。

このJavaScriptが書かれたページを開くと、「こんにちは」というメッセージボックスが表示されます。
