<h2>ページを追加しよ</h2>

Webサイトにページを追加してみましょう。

例として、プロフィールページ「profile.html」を追加してみましょう。

ページの追加は「templates」ディレクトリの中に、ファイルを配置するだけです。

<pre>
templates
</pre>

このディレクトリの中に「profile.html」を作成してください。

テキストエディタで開いて、編集します。

簡単なプロフィールを書いてみましょう。

<pre>
<h2>Perlゼミのプロフィール</h2>

PerlでWebサイトを作成しています。

よろしくお願いします。
</pre>

タイトルは「h2」タグの中に書きます。本文は上のように、段落ごとに記述しましょう。

注意点として、先頭に半角空白を入れないようにしましょう。

先頭に半角空白を入れると、自動改行機能が無効になってしまうためです。

もし文字化けを起こしてしまう場合は、ファイルの保存の文字コードがUTF-8になっていることを確認しましょう。

<pre>
morbo serve.pl
</pre>

次のURLでページにアクセスできます。

<pre>
http://127.0.0.1:3000/profile.html
</pre>

このページにリンクを張るには、他のページで次のように記述しましょう。

<pre>
<a href="/profile.html">Perlゼミのプロフィール</a>
</pre>

「templates」ディレクトリの中にサブディレクトリを作ってページを作成することもできます。

<pre>
templates/menu/service.html
</pre>

注意点として、最初に作成されている「blog」「common」「static」というディレクトリの中には、ファイルを配置しないでください。

このディレクトリは、特別なディレクトリとして予約されています。
