<h2>表を作成しよ</h2>

商品やサービスの比較で、表を作成したいという場合がありますね。こういう場合は、HTMLのテーブルという機能を使います。

<table>
  <tr>
    <td>サービス</td><td>価格</td><td>容量</td><td>ファイル配置</td><td>CGI</td><td>無料SSL</td>
  </tr>
  <tr>
    <td><a href="/blog/20190427161103.html">さくらレンタルサーバ<br>ライト</a></td><td>129円</td><td>10G</td><td>FTP</td><td><i>可</i></td><td>〇</td>
  </tr>
  <tr>
    <td>さくらレンタルサーバ<br>スタンダード</td><td>515円</td><td><i>100G</i></td><td>FTP/<i>git</i>/rsync</td><td><i>可</i></td><td>〇</td>
  </tr>
  <tr>
    <td>Gitdub Pages</td><td><i>無料</i></td><td>1G</td><td><i>git</i></td><td>不可</td><td>〇</td>
  </tr>
</table>

テーブルのHTMLです。

<pre>
<table>
  <tr>
    <td>サービス</td><td>価格</td><td>容量</td><td>ファイル配置</td><td>CGI</td><td>無料SSL</td>
  </tr>
  <tr>
    <td><a href="/blog/20190427161103.html">さくらレンタルサーバ<br>ライト</a></td><td>129円</td><td>10G</td><td>FTP</td><td><i>可</i></td><td>〇</td>
  </tr>
  <tr>
    <td>さくらレンタルサーバ<br>スタンダード</td><td>515円</td><td><i>100G</i></td><td>FTP/<i>git</i>/rsync</td><td><i>可</i></td><td>〇</td>
  </tr>
  <tr>
    <td>Gitdub Pages</td><td><i>無料</i></td><td>1G</td><td><i>git</i></td><td>不可</td><td>〇</td>
  </tr>
</table>
</pre>

スマートフォン対応した表のデザインなども今後追加していきます。

<h3>参考</h3>

tableタグなどのHTMLの基礎について知りたい場合は、以下の記事を参考にしてください。

<a href="/blog/20190509080855.html">個人サイト作成のためのHTMLの基礎</a>
