<h2>FAQ よくある質問</h2>

<h3>morbo serve.plだけで、すべての記事が自動的に再構築される仕組みを教えてください</h3>

morboというのは、PerlのWebフレームワークである<a href="https://github.com/mojolicious/mojo">Mojolicious</a>の開発サーバーです。

morboは「templates」以下にあるファイルが更新された場合、自分自身を再起動させます。

この再起動のタイミングで、再構築のコマンド「giblog build」を実行しています。

<h3>なぜ再構築が、こんなに速いのですか。数百ある記事の再構築が1秒以内で終わります。</h3>

Perlゼミが行った一般的なサーバー上におけるベンチマークでは、645ページの再構築が0.78秒で完了します。

これは、Perl自体が持つテキスト処理のパフォーマンスがよいということと、必要最小限のことだけに限定して処理をしているのが理由です。

<h3>静的にブログを作成することと、動的にブログを作成することの利点を教えてください</h3>

<b>「Perlで個人サイト作ろ」では、静的にブログを作成</b>する方法を選択しています。

静的にブログを作成することの最大の利点は、すべての記事を単なるファイルとして、保存しておくことができることです。

画像やJavaScriptを配置するのも、ファイルとして配置するだけです。

サイトを公開したい場合は、ファイルをレンタルサーバーに配置するだけで、個人サイトを始めることができます。

gitというバージョン管理システムを利用すれば、公開サーバーへの配置は、非常に簡単になります。

<b>「WordPress」という代表的なブログ作成ツールは、動的にブログを作成</b>する方法を選択しています。

動的にブログを作成することの一番の利点は、画面を使った編集と相性がよいということです。

ブラウザ上から編集して、すぐに記事を更新することができます。

記事が増えてきても、再構築の時間が延びるといったことはありません。

記事そのものの中に、プログラムを書くことができます。

機能を追加するために、たくさんのプラグインが用意されているというのも魅力でしょう。

<h3>コーポレートサイトを作成することはできますか</h3>

コーポレートサイトは、会社の自己紹介というものですから、GitblogによるWebサイト制作の手順で作成することができます。

<a href="/blog/20190514081022.html">Perlでコーポレートサイト作ろ</a>

