<h2>ブログのトップページを自分で作成するには</h2>

new_blogコマンドで作成したブログは、1週間分の記事を掲載したトップページが自動的に生成されます。ブログのトップページを静的なHTMLのページにする方法を解説します。

<h3>ビルドスクリプトを開く</h3>

まず最初に、サイトをビルドしているPerlスクリプトを開きます。

<pre>
lib/Giblog/Command/build.pm
</pre>

<h3>トップページの自動生成の処理をコメントアウト</h3>

次のコードを探してください。

<pre>
  # Create index page
  $self->create_index;
</pre>

この部分をコメントアウトします。Perlのコメントは「#」です。

<pre>
  # Create index page
  # $self->create_index;
</pre>

<h3>トップページのHTMLを配置</h3>

最後に、自分でトップページを作成します。以下のファイルを作成してください。

<pre>
templates/index.html
</pre>

内容はトップページの内容。

<pre>
<h2>わたしのサイト</h2>

わたしのサイトです。
</pre>
