<h2>Giblog 2.0 リリース</h2>

Giblog 2.0がリリースされました。

<h3>serveコマンドの追加</h3>

serveコマンドが追加されました。Webサイトをサーブします。

<pre>
giblog serve
</pre>

これは以下のコマンドのエイリアスです。

<pre>
morbo -w giblog.conf -w lib -w templates serve.pl
</pre>

<h3>publishコマンドの追加</h3>

publishコマンドが追加されました。Webサイトを公開します。

<pre>
giblog publish origin main
</pre>

これは、以下のコマンドのエイリアスです。「YY-mm-dd HH:MM:SS」は現在時刻です。

<pre>
git -C public add --all
git -C public commit -m "Published by Giblog at YY-mm-dd HH:MM:SS"
git -C public push origin main
</pre>

<h3>サイトを新しく作成した場合はGitで初期化</h3>

「giblog new」「giblog new_website」「giblog  new_blog」で生成したWebサイトは、そのディレクトリとそのディレクトリのpublicディレクトリがgitで初期化されるようになりました。

<pre>
git --init mysite
git --init mysite/public
</pre>

<h3>サイトのデザインの改善</h3>

「giblog new」「giblog new_website」「giblog  new_blog」で生成したWebサイトのデザインを微調整しました。

<h3>更新された公開ファイルだけを出力</h3>

更新された公開ファイルだけが出力されるようになりました。内容が同じだった場合は、タイムスタンプが更新されません。

<h3>互換性のない変更</h3>

<h4>Mojolicious 9.19+への依存</h4>

Mojolicious 9.19以上への依存となりました。このためPerl 5.16+が必要になります。

<h4>Git 1.8.5+への依存

Git 1.8.5+への依存となりました。
