<!-- header -->
<div class="header-content">
  <a href="/"><img src="/images/giblog-logo-image-text.png" width="170" alt="Giblog公式サイト" style="vertical-align:-30px;"></a>
  <a style="font-size:15px;text-decoration:none;color:#444;margin-right:18px;"href="/start.html">Giblogをはじめよう</a>
  <a style="font-size:15px;text-decoration:none;color:#444;margin-right:18px;"href="https://docjp.giblog.net/">公式ドキュメント</a>
  <a style="font-size:15px;text-decoration:none;color:#444;margin-right:18px;"href="https://github.com/yuki-kimoto/giblog">リポジトリ</a>
  <!-- テーマ -->
  <!-- 機能追加 -->
  <!-- フォーラム -->
  <!-- 更新情報 -->
  <!-- 参加・貢献 -->
</div>
