<!-- header -->
<script>
  $(document).ready(function () {
    $(window).on('resize', function () {
      var width = $(window).width();
      
      if (width > 860) {
        $('.header-content-menu').show();
      }
    });
  });
</script>

<div class="header-content">
  <div class="header-content-title">
    <a href="/"><img src="/images/giblog-logo-image-text.png" width="170" alt="Giblog公式サイト" style="vertical-align:-25px;"></a>
  </div>
  <div class="menu-button" onclick="$('.header-content-menu').toggle();">
    <img src="/images/menu.png" style="width:40px;">
  </div>
  <ul class="header-content-menu">
    <li><a href="/start.html">Giblogをはじめよう</a></li>
    <li><a href="https://docjp.giblog.net/">公式ドキュメント</a></li>
    <li><a href="https://github.com/yuki-kimoto/giblog">リポジトリ</a></li>
    <li><a href="https://metacpan.org/pod/Giblog">CPAN</a></li>
    <!-- テーマ -->
    <!-- 機能追加 -->
    <!-- フォーラム -->
    <!-- 更新情報 -->
    <!-- 参加・貢献 -->
    <li><a class="otoiawase" href="/mail.html">お問い合わせ</a></li>
  </ul>
</div>
