<!-- header -->
<div class="header-content">
  <div class="header-content-title">
    <a href="/"><img src="/images/giblog-logo-image-text.png" width="170" alt="Giblog公式サイト" style="vertical-align:-25px;"></a>
  </div>
  <div class="header-content-menu">
    <a style="font-size:15px;text-decoration:none;color:#444;margin-right:18px;" href="/start.html">Giblogをはじめよう</a>
    <a style="font-size:15px;text-decoration:none;color:#444;margin-right:18px;" href="https://docjp.giblog.net/">公式ドキュメント</a>
    <a style="font-size:15px;text-decoration:none;color:#444;margin-right:18px;" href="https://github.com/yuki-kimoto/giblog">リポジトリ</a>
    <a style="font-size:15px;text-decoration:none;color:#444;margin-right:18px;" href="https://metacpan.org/pod/Giblog">CPAN</a>
    <!-- テーマ -->
    <!-- 機能追加 -->
    <!-- フォーラム -->
    <!-- 更新情報 -->
    <!-- 参加・貢献 -->
    <a style="background:#009D82;color:white;border-radius:5px;text-decoration:none;padding:7px 10px 5px 10px" href="/mail.html">お問い合わせ</a>
  </div>
</div>
